.wrapper {
  
    width: 100%;
    /* margin: 0 auto; */
    padding: 50px 128px 100px 128px;
    /* padding: 40px 20px; */
    box-sizing: border-box;

    
    
}

/* ========== ФІЛЬТРИ ========== */
.filters {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 18px;
    align-items: flex-end;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.filterGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filterLabel {
    font-size: 14px;
    font-weight: 500;
    list-style: 1.29;
    color: #8a8a89;
}


/* Mileage Inputs */
.mileageInputs {
    display: flex;
    background-color: #f7f7fb;
    border-radius: 14px;
    overflow: hidden;
    height: 48px;
}

.inputWrapper {
    position: relative;
    width: 160px; /* Ширина половинки */
    height: 100%;
}

/* Розділова лінія посередині */
.inputWrapper:first-child {
    border-right: 1px solid rgba(138, 138, 137, 0.2);
}

.inputLabel {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: 500;
    color: #121417;
    pointer-events: none;
    z-index: 2;
}

.input {
    width: 100%;
    height: 100%;
    padding: 14px 24px 14px 73px; /* Відступ зліва під текст From/To */
    border: none;
    background-color: transparent;
    
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    color: #121417;
    outline: none;
}

/* Ховер ефект */
.mileageInputs:hover {
    background-color: #ededf5;
}
/* Search Button */
.searchButton {
    width: 156px;
    padding: 14px 44px;
    border-radius: 12px;
    border: none;
    background: #3470ff;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    align-self: flex-end;
}

.searchButton:hover {
    background: #0b44cd;
}

.searchButton:active {
    background: #0535b3;
}

.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px 32px;
}

@media (max-width: 1100px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 850px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ========== LOAD MORE ========== */
.loadMoreWrapper {
    display: flex;
    justify-content: center;
    
}

.loadMoreButton {
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s;
    border: 1px solid #3470ff;
    border-radius: 12px;
    padding: 12px 51px;
    min-width: 182px;
    height: 44px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
    margin-top: 50px;
}

.loadMoreButton:hover:not(:disabled) {
    color: #0b44cd;
}

.loadMoreButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* ========== СТАНИ ========== */
.loading,
.noResults {
    text-align: center;
    font-size: 18px;
    color: #8a8a89;
    margin-top: 50px;
}

@media (max-width: 1280px) {
  .wrapper {
    padding: 50px 64px 100px 64px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 30px 20px 50px 20px;
  }
  
  /* На мобільних сітка має перебудуватися */
  .grid {
      grid-template-columns: repeat(1, 1fr); /* 1 колонка */
  }
}