.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.heroImage{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    margin-bottom: 60px;
   
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.3); */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
}

.content{
    text-align: center;
    color: #fff;
    max-width: 783px;
    margin-bottom: 150px;
}

.title{
    font-weight: 700;
    font-size: 60px;
    margin-top: 3px;
    margin-bottom: 3px;
   
}

.subtitle{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    margin-bottom: 40px;
}

.button{
    border-radius: 12px;
    padding: 12px 99px;
    height: 44px;
    background-color: #3470ff;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    cursor: pointer;
}

.button:hover {
    background-color: #0b44cd;
}