.wraper{
    border-bottom: 1px solid #f2f4f7;
    width: 100%;
    height: 68px;
    background-color: #f2f4f7;
    display: flex;
    justify-content: center;
}
.header{
    width: 100%;
    /* max-width: 1440px; */
    height: 68px;
    padding: 0 128px;
    background-color: #f2f4f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.nav{
    display: flex;
    gap: 1em;
}

.nav a{
    text-decoration: none;
    color: #101828;
    font-weight: 500;
}

nav a:hover{
    color:#0b44cd;
}

@media (max-width: 1280px) {
  .header {
    padding: 0 64px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 20px;
  }
}