.header{
    border-bottom: 1px solid #f2f4f7;
    padding: 24px 120px;
    max-width: 1440px;
    height: 68px;
    background-color: #f2f4f7;
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    gap: 1em;
}

.nav a{
    text-decoration: none;
    color: #101828;
    font-weight: 500;
}

nav a:hover{
    color:#0b44cd;
}